
.event_list .visitable {
  height: auto;
}

.hide_events {
background-position: -56px -880px;
height: 16px;
width: 16px;
margin: 9px;
position: absolute;
}

.sidebar_buttons {
  float: right;
  width:24px;
  visibility: hidden;
}

.visitable:hover .sidebar_buttons {
  visibility: visible;
}

.sidebar_buttons .button {
  width: 24px;
  line-height: 16px;
  float: left;
  margin-top: 0;
  color: white;
}

.sidebar_buttons .button.downvote {
  border: 0;
}

.sidebar_buttons .button.downvote span {
  background-position: -57px -515px;
}

.paging_buttons .button {
  line-height: 16px;
  width: 24px;
  margin: 0;
}
.paging_buttons .button.prev {
  margin-right: 1em;
}
.paging_buttons .button.next {
  margin-left: 1em;
}

.button .img_sprite_moon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

#event_popup {
  position: absolute;
  top: 200px;
  left: 450px;
  z-index: 999999;

  background-color: white;
  border: 1px solid silver;
  border-radius: 2px;
  box-shadow: -1px 0px 3px silver;

  min-height: 250px;
  width: 500px;

  display: none;
}


#event_popup .popup_arrow {
  position: absolute;
  left: 100%;
  top: 100px;

  width: 0;
  height: 0;

  border-bottom: 25px solid transparent;
  border-left: 25px solid lightblue;
  border-top: 25px solid transparent;
}

#event_popup h1 {
  font-weight: bold;
  font-size: 1.1;
}


#event_popup .content {
  padding: 5px;
}

#event_popup img {
  float: right;
}
